:root {
    --color-1: rgb(235, 244, 251);
    --color-2: rgb(166, 206, 237);
    --color-3: rgb(100, 150, 180);
}

body,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

/* .wrapper {
    display: flex;
} */


.container {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: var(--color-1);
    border: 1pt solid var(--color-2);
    width: 100pt;
    height: 100pt;
    margin: -50pt 0 0 -50pt;

    text-align: center;
    /* box-shadow: -2px 2px 0px #ff0; */

    box-sizing: border-box;
    /* padding: 4pt 0; */
    border-radius: 50pt;
    /* background-image: linear-gradient(to right, var(--color-1), var(--color-2), var(--color-1)); */

}

.container button {
    background-color: #fff;
    border: 1pt solid var(--color-2);
    cursor: pointer;
    /* margin: 8pt 0; */
    width: 36pt;
    height: 36pt;
    border-radius: 21pt;
    color: var(--color-2);
}

.container button.up {
    margin-top: -1pt;
    /* background-image: linear-gradient(to top, var(--color-1), var(--color-2)); */
}

/* .container button.down {
    background-image: linear-gradient(to bottom, var(--color-1), var(--color-2));
} */


.container button:hover:active {
    background-color: var(--color-2);
}

.container button:hover {
    background-color: var(--color-1);
    color: var(--color-3);
}

.container .counter {
    height: 28pt;
    line-height: 28pt;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;
    color: var(--color-3);
}