<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/scripts.js" defer></script>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <script>
        /*to prevent Firefox FOUC, this must be here*/
        let FF_FOUC_FIX;
    </script>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <button id="btn_up" class="up">▲</button>
            <div id="counter" class="counter">0</div>
            <button id="btn_down" class="down">▼</button>
        </div>
    </div>
</body>
</html>